<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
  <display-name>RadiologyApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SessionInfo</display-name>
    <servlet-name>SessionInfo</servlet-name>
    <servlet-class>SessionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionInfo</servlet-name>
    <url-pattern>/SessionInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLSession</display-name>
    <servlet-name>URLSession</servlet-name>
    <servlet-class>URLSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLSession</servlet-name>
    <url-pattern>/URLSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OracleLogin</display-name>
    <servlet-name>OracleLogin</servlet-name>
    <servlet-class>servlets.OracleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OracleLogin</servlet-name>
    <url-pattern>/oracle-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagePersons</display-name>
    <servlet-name>UserManagePersons</servlet-name>
    <servlet-class>servlets.usermanage.Persons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagePersons</servlet-name>
    <url-pattern>/usermanage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagePersons</servlet-name>
    <url-pattern>/usermanage/persons</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagePersonsAdd</display-name>
    <servlet-name>UserManagePersonsAdd</servlet-name>
    <servlet-class>servlets.usermanage.PersonsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagePersonsAdd</servlet-name>
    <url-pattern>/usermanage/persons/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagePersonsEdit</display-name>
    <servlet-name>UserManagePersonsEdit</servlet-name>
    <servlet-class>servlets.usermanage.PersonsEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagePersonsEdit</servlet-name>
    <url-pattern>/usermanage/persons/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManageUsers</display-name>
    <servlet-name>UserManageUsers</servlet-name>
    <servlet-class>servlets.usermanage.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageUsers</servlet-name>
    <url-pattern>/usermanage/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManageUsersAdd</display-name>
    <servlet-name>UserManageUsersAdd</servlet-name>
    <servlet-class>servlets.usermanage.UsersAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageUsersAdd</servlet-name>
    <url-pattern>/usermanage/users/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManageUsersEdit</display-name>
    <servlet-name>UserManageUsersEdit</servlet-name>
    <servlet-class>servlets.usermanage.UsersEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageUsersEdit</servlet-name>
    <url-pattern>/usermanage/users/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManageFamilyDoctors</display-name>
    <servlet-name>UserManageFamilyDoctors</servlet-name>
    <servlet-class>servlets.usermanage.FamilyDoctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageFamilyDoctors</servlet-name>
    <url-pattern>/usermanage/family-doctors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManageFamilyDoctorsAdd</display-name>
    <servlet-name>UserManageFamilyDoctorsAdd</servlet-name>
    <servlet-class>servlets.usermanage.FamilyDoctorsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageFamilyDoctorsAdd</servlet-name>
    <url-pattern>/usermanage/family-doctors/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManageFamilyDoctorsEdit</display-name>
    <servlet-name>UserManageFamilyDoctorsEdit</servlet-name>
    <servlet-class>servlets.usermanage.FamilyDoctorsEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageFamilyDoctorsEdit</servlet-name>
    <url-pattern>/usermanage/family-doctors/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImages</display-name>
    <servlet-name>UploadImages</servlet-name>
    <servlet-class>servlets.upload.UploadImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImages</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImagesAdd</display-name>
    <servlet-name>UploadImagesAdd</servlet-name>
    <servlet-class>servlets.upload.UploadImagesAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImagesAdd</servlet-name>
    <url-pattern>/upload/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageThumbnail</display-name>
    <servlet-name>ImageThumbnail</servlet-name>
    <servlet-class>servlets.upload.ImageThumbnail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageThumbnail</servlet-name>
    <url-pattern>/images/thumbnail</url-pattern>
   <servlet>
    <description></description>
    <display-name>OracleLogout</display-name>
    <servlet-name>OracleLogout</servlet-name>
    <servlet-class>OracleLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OracleLogout</servlet-name>
    <url-pattern>/OracleLogout</url-pattern>
  </servlet-mapping>
</web-app>