<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
  <display-name>RadiologyApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/firstservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Asn2Sample</servlet-name>
    <servlet-class>Asn2Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asn2Sample</servlet-name>
    <url-pattern>/Asn2Sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBLogin</display-name>
    <servlet-name>DBLogin</servlet-name>
    <servlet-class>DBLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBLogin</servlet-name>
    <url-pattern>/DBLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionInfo</display-name>
    <servlet-name>SessionInfo</servlet-name>
    <servlet-class>SessionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionInfo</servlet-name>
    <url-pattern>/SessionInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLSession</display-name>
    <servlet-name>URLSession</servlet-name>
    <servlet-class>URLSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLSession</servlet-name>
    <url-pattern>/URLSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>