<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
  <display-name>RadiologyApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SessionInfo</display-name>
    <servlet-name>SessionInfo</servlet-name>
    <servlet-class>SessionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionInfo</servlet-name>
    <url-pattern>/SessionInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLSession</display-name>
    <servlet-name>URLSession</servlet-name>
    <servlet-class>URLSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLSession</servlet-name>
    <url-pattern>/URLSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OracleLogin</display-name>
    <servlet-name>OracleLogin</servlet-name>
    <servlet-class>servlets.OracleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OracleLogin</servlet-name>
    <url-pattern>/oracle-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagePersons</display-name>
    <servlet-name>UserManagePersons</servlet-name>
    <servlet-class>servlets.usermanage.Persons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagePersons</servlet-name>
    <url-pattern>/usermanage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagePersons</servlet-name>
    <url-pattern>/usermanage/persons</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagePersonsAdd</display-name>
    <servlet-name>UserManagePersonsAdd</servlet-name>
    <servlet-class>servlets.usermanage.PersonsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagePersonsAdd</servlet-name>
    <url-pattern>/usermanage/persons/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagePersonsEdit</display-name>
    <servlet-name>UserManagePersonsEdit</servlet-name>
    <servlet-class>servlets.usermanage.PersonsEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagePersonsEdit</servlet-name>
    <url-pattern>/usermanage/persons/edit</url-pattern>
  </servlet-mapping>
</web-app>